# Python virtual environments
venv/
server/venv/
emotion-recognition/venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node
node_modules/
emotion-recognition/node_modules/

# OS
.DS_Store
Thumbs.db
